@import "../util/style.scss";

.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 0);
  padding: 0.5rem;
  min-width: 5rem;
  border: 3px solid $bgd-secondary;
  background-color: #dd580e55;
  cursor: pointer;
}

.frame {
  &-bar {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0.5rem;
    width: 0px;
    border: 1.5px solid $bgd-secondary;
  }
}
